<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.awsem">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_finish2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_finish2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".KosharyActivity" />
        <activity android:name=".GrilActivity" />
        <activity android:name=".PizzaActivity" />
        <activity android:name=".FishActivity" />
        <activity android:name=".TypeOfFoodActivity" />
        <activity android:name=".NervesActivity" />
        <activity android:name=".GeneralSerguryActivity" />
        <activity android:name=".WomanActivity" />
        <activity android:name=".EyeActivity" />
        <activity android:name=".ToothActivity" />
        <activity android:name=".test"/>
        <activity android:name=".LaboratoryActivity" />
        <activity android:name=".StomachActivity" />
        <activity android:name=".BoneActivity" />
        <activity android:name=".BabyActivity" />
        <activity android:name=".NoseActivity" />
        <activity android:name=".TypeOfDoctorActivity" />
        <activity android:name=".Splashactivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>